.project{
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.list{
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
}

.list:nth-of-type(2n+1) .project-content {
    grid-column: 7 / -1;
    text-align: right;
}

.list .project-content {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
}

.list .project-overline {
    margin: 10px 0px;       
}

.list .project-title {
    margin: 0px 0px 20px;
}

.list .project-description {
    box-shadow: 0 10px 30px -15px rgba(1, 10, 22, 0.7);    
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 4px;
    background-color: #1e262f;    
}

.list .project-tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
}

.list:nth-of-type(2n+1) .project-tech-list {
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.list .project-tech-list li {
    margin: 0px 20px 5px 0px
}

.list:nth-of-type(2n+1) .project-tech-list li {
    margin: 0px 0px 5px 20px;
}

.list .project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
}

.list:nth-of-type(2n+1) .project-links {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: -10px;
}

.list .project-links a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px;
}

svg {
    width: 22px;
    height: 22px;
}

.list .project-image {
    box-shadow: 0 10px 30px -15px rgba(1, 10, 22, 0.7);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;
}

.list .project-image .img {
    border-radius: 4px;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1) brightness(90%);    
}

.list:nth-of-type(2n+1) .project-image {
    grid-column: 1 / 8;
}

.list .project-image a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #FCD34D;
    border-radius: 4px;
    vertical-align: middle;
}

.list .project-title a::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.list .project-image a:hover, .list .project-image a:focus {
    background: transparent;
    outline: 0px;
    filter: none;
}

.list .project-image a:hover .img, .list .project-image a:focus .img {
    filter: none;
}

.list .project-image a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 3;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    background-color: #0e141b;
    mix-blend-mode: screen;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
}

.image-wrapper img {
    bottom: 0 ;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
}

.image-wrapper-constrained {
    display: inline-block;
}

img[alt=""], img:not([alt]) {
    filter: blur(5px);    
}

img, .image-wrapper {
    width: 100%;
    max-width: 100%;
    vertical-align: middle ;
}

.divImage{
    max-width: 100%;
    display: block;
    overflow: hidden;    
}

.image-wrapper > div {
    position: unset !important;    
}

.project-sizing{
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}


@media (max-width: 480px) {
    .list:nth-of-type(2n+1) .project-content {
        padding: 25px 25px 20px;
    }

}


@media (max-width: 768px){
    .list:nth-of-type(2n+1) .project-content {
        grid-column: 1 / -1;
        padding: 40px 40px 30px;
        text-align: left;
    }
    
    .list .project-title {
        color: white;
    }

    .list .project-title a {
        position: static;
    }

    .list .project-title a::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
    }

    .list .project-description {
        padding: 20px 0px;
        background-color: transparent;
        box-shadow: none;
    }

    .list .project-tech-list {
        margin: 10px 0px;
    }

    .list:nth-of-type(2n+1) .project-tech-list {
        -webkit-box-pack: start;
        justify-content: flex-start;
    }

    .list:nth-of-type(2n+1) .project-tech-list li {
        margin: 0px 10px 5px 0px;
    }

    .list .project-tech-list li {
        margin: 0px 10px 5px 0px;
        color: var(--lightest-slate);
    }

    .list:nth-of-type(2n+1) .project-links {
        -webkit-box-pack: start;
        justify-content: flex-start;
        margin-left: -10px;
        margin-right: 0px;
    }

    .list:nth-of-type(2n+1) .project-image {
        grid-column: 1 / -1;
    }

    .list .project-image {
        grid-column: 1 / -1;
        height: 100%;
        opacity: 0.25;
    }

    .list .project-image .img {
        object-fit: cover;
        width: auto;
        height: 100%;
        filter: grayscale(100%) contrast(1) brightness(80%);
    }

    .project-sizing {
        object-fit: cover;
        width: auto;
        height: 100%;
        filter: grayscale(100%) contrast(1) brightness(80%);
    }

    .image-wrapper > div {
        position: unset !important;    
        height: 100%;
    }
    
    /* .project-sizing{
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    } */

}


